# importing all the libraries to be used

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [2]:
dt = pd.read_excel("C:/Users/IROANYA/Documents/DATA ANALYSIS FILES/hamoye files/stage B/ENB2012_data.xlsx")

In [3]:
df = dt.copy()

In [4]:
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [5]:
col = {"X1": "Relative_Compactness",
          "X2": "Surface_Area", "X3": "Wall_Area",
          "X4": "Roof_Area", "X5": "Overall_Height",
          "X6": "Orientation", "X7": "Glazing_Area",
          "X8": "Glazing_Area_Distribution",
          "Y1": "Heating_Load", "Y2": "Cooling_Load"}

In [6]:
df = df.rename(columns = col)

In [7]:
df.head()

,Relative_Compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation,Glazing_Area,Glazing_Area_Distribution,Heating_Load,Cooling_Load
0,0.98,514.5,294.0,110.25,7.0,2,0.0,0,15.55,21.33
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33
4,0.90,563.5,318.5,122.50,7.0,2,0.0,0,20.84,28.28

First of all we normalize our dataset to a common scale using the "MinMaxScaler" that was inported above

In [8]:
scaler = MinMaxScaler() 
##MinMaxScaler transforms all the numbers in the dataset to a given range of 
##1 & 0

In [9]:
##normalizing the dataset now
n_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns) 
##fit_transform first of all fits the data and then transforms it

In [10]:
n_df.head()

,Relative_Compactness,Surface_Area,Wall_Area,Roof_Area,Overall_Height,Orientation,Glazing_Area,Glazing_Area_Distribution,Heating_Load,Cooling_Load
0,1.000000,0.000000,0.285714,0.000000,1.0,0.000000,0.0,0.0,0.257212,0.280905
1,1.000000,0.000000,0.285714,0.000000,1.0,0.333333,0.0,0.0,0.257212,0.280905
2,1.000000,0.000000,0.285714,0.000000,1.0,0.666667,0.0,0.0,0.257212,0.280905
3,1.000000,0.000000,0.285714,0.000000,1.0,1.000000,0.0,0.0,0.257212,0.280905
4,0.777778,0.166667,0.428571,0.111111,1.0,0.000000,0.0,0.0,0.399838,0.468085

In [11]:
heat = n_df["Heating_Load"]
##our target variable or y

In [12]:
x_df = n_df.drop(columns = ["Heating_Load", "Cooling_Load"])
##our feature variables or x

Split the dataset into training and testing datasets using "train_test_split"

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x_df, heat, test_size =0.3,
                                                    random_state = 1)

Fit the model to the training set

In [14]:
linear_model = LinearRegression()

Train the Models

In [15]:
linear_model.fit(x_train, y_train)

LinearRegression()

Obtain predictions

In [16]:
predicted_value = linear_model.predict(x_test)

In [17]:
predicted_value

array([0.19165039, 0.57995605, 0.73937988, 0.71386719, 0.75952148,
       0.24768066, 0.16967773, 0.60290527, 0.24243164, 0.54870605,
       0.31713867, 0.65966797, 0.69519043, 0.30212402, 0.18994141,
       0.71899414, 0.57385254, 0.31616211, 0.26074219, 0.74621582,
       0.70129395, 0.07177734, 0.6126709 , 0.32629395, 0.2109375 ,
       0.74377441, 0.33093262, 0.18725586, 0.79968262, 0.27050781,
       0.67651367, 0.7331543 , 0.1427002 , 0.28466797, 0.56555176,
       0.80761719, 0.33349609, 0.13476562, 0.72509766, 0.24584961,
       0.82312012, 0.15942383, 0.11120605, 0.16687012, 0.11743164,
       0.15283203, 0.484375  , 0.69238281, 0.75512695, 0.7199707 ,
       0.10058594, 0.66577148, 0.10046387, 0.24841309, 0.76428223,
       0.76867676, 0.73657227, 0.62841797, 0.15319824, 0.29760742,
       0.19335938, 0.59521484, 0.60656738, 0.76599121, 0.56872559,
       0.92578125, 0.68286133, 0.31884766, 0.67028809, 0.23742676,
       0.5435791 , 0.25012207, 0.23291016, 0.72155762, 0.28637695,
       0.6842041 , 0.63903809, 0.73999023, 0.25463867, 0.53283691,
       0.13305664, 0.64526367, 0.25830078, 0.75634766, 0.23901367,
       0.89941406, 0.91796875, 0.82763672, 0.25732422, 0.17858887,
       0.63562012, 0.51257324, 0.14709473, 0.74890137, 0.26965332,
       0.67199707, 0.14440918, 0.68457031, 0.05603027, 0.78100586,
       0.76635742, 0.28198242, 0.61889648, 0.15930176, 0.27478027,
       0.18640137, 0.59692383, 0.58435059, 0.625     , 0.83654785,
       0.91345215, 0.45507812, 0.56384277, 0.14697266, 0.84606934,
       0.10766602, 0.62963867, 0.69665527, 0.7064209 , 0.28808594,
       0.54980469, 0.60021973, 0.26269531, 0.54528809, 0.71276855,
       0.27856445, 0.07617188, 0.77038574, 0.10668945, 0.25549316,
       0.79077148, 0.12524414, 0.70812988, 0.8013916 , 0.0447998 ,
       0.67199707, 0.53112793, 0.09191895, 0.72619629, 0.20922852,
       0.30651855, 0.60144043, 0.35107422, 0.23876953, 0.44995117,
       0.62670898, 0.05322266, 0.82141113, 0.63134766, 0.26342773,
       0.1661377 , 0.55932617, 0.77319336, 0.80480957, 0.30993652,
       0.32739258, 0.64196777, 0.18908691, 0.70935059, 0.24487305,
       0.53771973, 0.61352539, 0.72497559, 0.25378418, 0.72045898,
       0.1652832 , 0.72668457, 0.63757324, 0.3404541 , 0.33874512,
       0.16345215, 0.83032227, 0.71728516, 0.23425293, 0.13928223,
       0.69055176, 0.1418457 , 0.72790527, 0.7322998 , 0.23083496,
       0.75463867, 0.09020996, 0.61865234, 0.59838867, 0.73828125,
       0.08300781, 0.14538574, 0.60180664, 0.17932129, 0.1607666 ,
       0.24084473, 0.7454834 , 0.7479248 , 0.61547852, 0.15759277,
       0.71435547, 0.04309082, 0.65429688, 0.06835938, 0.90734863,
       0.33520508, 0.64025879, 0.33081055, 0.21899414, 0.53942871,
       0.29870605, 0.74963379, 0.10229492, 0.22070312, 0.22412109,
       0.71557617, 0.55493164, 0.57043457, 0.18371582, 0.09533691,
       0.72338867, 0.17236328, 0.58337402, 0.22851562, 0.67663574,
       0.68725586, 0.22949219, 0.60742188, 0.10778809, 0.53723145,
       0.77490234, 0.53552246, 0.90905762, 0.22497559, 0.48950195,
       0.76025391])

In [18]:
y_test

285    0.181451
101    0.638177
581    0.823942
352    0.877865
726    0.774063
         ...
241    0.493934
599    0.927743
650    0.218118
11     0.331626
214    0.730116
Name: Heating_Load, Length: 231, dtype: float64

# calculating the MAE(MEAN ABSOLUTE ERROR)

In [19]:
mae = mean_absolute_error(y_test, predicted_value)

In [20]:
round(mae, 3)

0.063

# solving for residual sum of squares(RSS)

In [21]:
rss = np.sum(np.square(y_test - predicted_value)).round(3)

In [22]:
rss

1.823

# solving for root mean square error(RMSE)

In [23]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_value)).round(3)
rmse

0.089

# solving for Rsquared (coefficient of detemination)

In [24]:
r2 = r2_score(y_test, predicted_value).round(3)
r2

0.893

# PENALIZATION METHODS

RIDGE PENALIZATION(L2)

In [25]:
##importing the ridge library
from sklearn.linear_model import Ridge

ridge = Ridge(alpha = 0.5)
ridge.fit(x_train, y_train)

Ridge(alpha=0.5)

FEATURE SELECTION, LASSO (L1)

In [26]:
###importing the lasso module

from sklearn.linear_model import Lasso

lasso = Lasso(alpha= 0.001)
lasso.fit(x_train, y_train)

Lasso(alpha=0.001)

In [29]:
###comparing the regularizations or penalization on 
###the lasso, ridge and linear regression


##the function reurns the weightnof all  the features
def get_weights_df(model, features, col_name):
    weights = pd.Series(model.coef_, ##this brings the coefficient of the model
                       features.columns).round(3).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ["Features", col_name]
    return weights_df

In [37]:
linear_model_weights = get_weights_df(linear_model,
                                     x_train,
                                     "Linear_Model_Weights")
ridge_weights = get_weights_df(ridge,
                              x_train,
                              "Ridge_Weights")
lasso_weights = get_weights_df(lasso,
                              x_train,
                              "Lasso_Weights")

In [35]:
final_weights = pd.merge(linear_model_weights,
                        ridge_weights, on= "Features")
final_weights = pd.merge(final_weights,
                        lasso_weights,
                        on= "Features")
final_weights

,Features,Linear_Model_Weights,Ridge_Weights,Lasso_Weights
0,Surface_Area,-3.458933e+12,-0.062,0.000
1,Relative_Compactness,-6.060000e-01,-0.283,-0.028
2,Orientation,5.000000e-03,0.003,0.000
3,Glazing_Area_Distribution,3.100000e-02,0.029,0.021
4,Glazing_Area,2.130000e-01,0.212,0.206
5,Overall_Height,3.970000e-01,0.442,0.463
6,Wall_Area,2.017711e+12,0.103,0.200
7,Roof_Area,2.594200e+12,-0.163,-0.000