In [1]:
import pandas as pd
import numpy as np

# LOGISTIC REGRESSION

### IMPORTING OUR DATASET

In [2]:
file = "C:/Users/IROANYA/Documents/DATA ANALYSIS FILES/Hamoye-Internship/STAGE C/footprint-nfa-2019-edition/data/nfa_2019_public_data.csv"
dt = pd.read_csv(file)
df = dt.copy()
df.head()

C:\Users\IROANYA\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,qscore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

## CHECKING NA VALUES

In [3]:
df.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
qscore                1
dtype: int64

In [4]:
df.shape

(72186, 12)

DROPPING THE NA VALUES FOR SIMPLICITY

In [5]:
df = df.dropna()
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
qscore            0
dtype: int64

### IDENTIFYING OUR TARGET VARIABLE

In [6]:
df["qscore"].value_counts()

3A    51473
2A      224
1A       16
Name: qscore, dtype: int64

FOR THE SAKE OF THIS STUDY WE WILL MAKE OUR TARGETS BINARY (3A & 2A)

In [7]:
df["qscore"] = df["qscore"].replace(['1A'], '2A')

In [8]:
df["qscore"].value_counts()

3A    51473
2A      240
Name: qscore, dtype: int64

WE HAVE SUCCESFULLY MADE OUR TARGET A BINARY CASE. NEXT WE HAVE TO REDUCE THE SIZE FOR SIMPLICITY

In [9]:
df_2A = df[df.qscore == "2A"]
df_3A = df[df.qscore == "3A"].sample(350)

In [10]:
df_2A.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,qscore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,0.022585,2.998367e-02,0.000000,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,917100.000000,1.217520e+06,0.000000,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,0.007948,2.924496e-02,0.000000,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,322736.916200,1.187524e+06,0.000000,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,0.014729,2.924496e-02,1.391455,2.407316e+00,2A

In [11]:
df_3A.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,qscore
24373,Greece,1992,84,EFConsTotGHA,10445850.06,4.657285e+06,2952448.057,1217831.831,5.922574e+05,30202228.12,5.006790e+07,3A
55299,Sierra Leone,1967,197,AreaTotHA,440000.00,2.204000e+06,3126226.913,2705400.000,8.224020e+04,0.00,8.557867e+06,3A
13377,Congo,1975,46,AreaTotHA,562000.00,1.000000e+07,22723716.21,834900.000,5.175700e+04,0.00,3.417237e+07,3A
609,Afghanistan,2012,2,AreaTotHA,7910000.00,3.000000e+07,1350000,0.000,1.379500e+06,0.00,4.063950e+07,3A
63995,United Arab Emirates,2000,225,AreaTotHA,247000.00,3.050000e+05,310000,5108000.000,1.000000e+05,0.00,6.070000e+06,3A

JOINING THE 2 NEW DATA FRAMES TOGETHER

In [12]:
n_df = df_2A.append(df_3A)
n_df.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,qscore
1536,Algeria,2016,4,AreaPerCap,2.072989e-01,8.112722e-01,0.048357265,0.022585,2.998367e-02,0.000000,1.119497e+00,2A
1537,Algeria,2016,4,AreaTotHA,8.417600e+06,3.294260e+07,1963600,917100.000000,1.217520e+06,0.000000,4.545842e+07,2A
1538,Algeria,2016,4,BiocapPerCap,2.021916e-01,2.636077e-01,0.027166736,0.007948,2.924496e-02,0.000000,5.301590e-01,2A
1539,Algeria,2016,4,BiocapTotGHA,8.210214e+06,1.070408e+07,1103135.245,322736.916200,1.187524e+06,0.000000,2.152769e+07,2A
1540,Algeria,2016,4,EFConsPerCap,6.280528e-01,1.810332e-01,0.162800822,0.014729,2.924496e-02,1.391455,2.407316e+00,2A

In [13]:
n_df.shape

(590, 12)

In [14]:
n_df["qscore"].value_counts()

3A    350
2A    240
Name: qscore, dtype: int64

IMPORTING THE SKLEARN.UTILS MODULE TO SHUFFLE THE DATA

In [15]:
import sklearn.utils

In [16]:
n_df = sklearn.utils.shuffle(n_df)
n_df = n_df.reset_index(drop = True)
n_df.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,qscore
0,Cameroon,1967,32,EFConsPerCap,0.392483,3.012435e-01,0.517898831,0.036717,0.018532,0.084976,1.351851e+00,3A
1,Timor-Leste,2016,176,EFConsTotGHA,289635.267000,7.813196e+04,40471.18629,26880.631110,48949.869650,145397.513200,6.294664e+05,2A
2,Somalia,1961,201,EFConsTotGHA,375641.525300,5.660779e+06,1044809.001,2679.956744,56676.567020,86300.499150,7.226887e+06,3A
3,Mongolia,2016,141,EFProdPerCap,0.186073,5.338478e+00,0.113399395,0.000008,0.059542,2.053936,7.751437e+00,2A
4,Israel,1994,105,BiocapPerCap,0.191903,1.041664e-02,0.043478755,0.024230,0.043682,0.000000,3.137103e-01,3A

In [17]:
n_df.shape

(590, 12)

#### PICKING OUR X AND Y FEATURES BEFORE SPLITTING

In [18]:
x = n_df.drop(["country", "year", "country_code", "qscore"], axis = 1)
y = n_df["qscore"]

#### SPLITTING

In [110]:
from sklearn.model_selection import train_test_split

In [164]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [165]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((413, 8), (413,), (177, 8), (177,))

In [166]:
y_train.value_counts()

3A    246
2A    167
Name: qscore, dtype: int64

THERE IS STILL AN IMBALANCE IN THE CLASS DISTRIBUTION. TO HANDLE THIS, WE USE THE "SMOTE" ONLY ON THE TRAINING DATA

In [167]:
###FIRST ENCODE THE CATEGORICAL VARIABLES

from sklearn.preprocessing import LabelEncoder
encoder  = LabelEncoder()

In [168]:
x_train.record = encoder.fit_transform(x_train.record)
x_test.record = encoder.fit_transform(x_test.record)

In [169]:
x_train.head()

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
285,5,2.222060e+07,2.567371e+06,14143720.88,1.344288e+06,2.829663e+06,6.367314e+07,1.067788e+08
113,5,8.274833e+05,3.178297e+05,2043564.505,1.074984e+05,5.479119e+04,1.794640e+05,3.530631e+06
18,4,5.702795e-01,1.808674e-02,0.208488521,1.637547e-01,6.323808e-02,1.463797e+00,2.487645e+00
76,0,1.139183e-01,1.124193e-01,0.049089777,4.650413e-02,1.916326e-02,0.000000e+00,3.410948e-01
206,2,1.506440e-01,4.087894e-01,0.662766756,5.067847e-02,4.705996e-02,0.000000e+00,1.319939e+00

In [170]:
## import imblearn to access the smote function
import imblearn

In [171]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)

In [172]:
###balancing the training models

x_train_b, y_train_b = smote.fit_resample(x_train, y_train)

In [173]:
x_train_b

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
0,5,2.222060e+07,2.567371e+06,14143720.88,1.344288e+06,2.829663e+06,6.367314e+07,1.067788e+08
1,5,8.274833e+05,3.178297e+05,2043564.505,1.074984e+05,5.479119e+04,1.794640e+05,3.530631e+06
2,4,5.702795e-01,1.808674e-02,0.208489,1.637547e-01,6.323808e-02,1.463797e+00,2.487645e+00
3,0,1.139183e-01,1.124193e-01,0.04909,4.650413e-02,1.916326e-02,0.000000e+00,3.410948e-01
4,2,1.506440e-01,4.087894e-01,0.662767,5.067847e-02,4.705996e-02,0.000000e+00,1.319939e+00
...,...,...,...,...,...,...,...,...
487,2,1.542068e-01,5.193838e-02,0.053231,1.871010e-02,2.765997e-02,0.000000e+00,3.057466e-01
488,0,1.315543e-01,7.394226e-02,1.120043,9.432134e-01,3.373150e-02,0.000000e+00,2.302484e+00
489,6,1.380594e+07,5.294498e+06,4225710.785548,1.541243e+06,1.066055e+06,3.680913e+07,6.274257e+07
490,6,7.623675e+06,3.379145e+06,3325600.569194,2.849160e+06,1.208306e+06,2.152167e+07,3.990756e+07
491,2,4.389266e-01,2.924140e-02,2.279908,7.243560e-01,1.744207e-01,0.000000e+00,3.646853e+00

In [174]:
###scale the balanced training sets

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [175]:
s_train = scaler.fit_transform(x_train_b.drop("record", axis = 1))
s_train = pd.DataFrame(s_train, columns = 
                      x_train_b.drop("record", axis = 1).columns)
s_train["record"] = x_train_b["record"]

In [176]:
x_test = x_test.reset_index(drop = True)
s_test  = scaler.transform(x_test.drop("record", axis = 1))
s_test = pd.DataFrame(s_test,
                     columns = x_test.drop("record", axis = 1).columns)
s_test["record"] = x_test["record"]

In [178]:
x_test.shape, s_test.shape

((177, 8), (177, 8))

### LOGISTIC REGRESSION

In [154]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

In [155]:
log.fit(s_train, y_train_b)

LogisticRegression()

### MEASURING CLASSIFICATION PERFORMANCE

#### CROSS VALIDATION AND ACCURACY

In [156]:
##importing cross validation

from sklearn.model_selection import cross_val_score

In [157]:
scores = cross_val_score(log, s_train, y_train_b, cv = 5,
                        scoring = "f1_macro")
scores

array([0.39614062, 0.44239631, 0.52719298, 0.58065896, 0.44528302])

#### K-FOLD C.V

In [158]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)
kf.split(s_train)

In [159]:
f1_scores = []

from sklearn.metrics import f1_score

for train_index, test_index in kf.split(s_train):
    x_train, x_test = np.array(s_train)[train_index], np.array(s_train)[test_index]
    y_train, y_test = y_train_b[train_index], y_train_b[test_index]
    
    model = log.fit(x_train, y_train)
    
    f1_scores.append(f1_score(y_true = y_test,
                              y_pred = model.predict(x_test),
                              pos_label = "2A") * 100)

f1_scores

[56.71641791044776,
 50.45045045045045,
 56.92307692307692,
 58.91472868217055,
 0.0]

#### STRATIFIED  KFOLD

In [160]:
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=1)

In [161]:
f1_scores = []

from sklearn.metrics import f1_score

for train_index, test_index in skf.split(s_train, y_train_b):
    x_train, x_test = np.array(s_train)[train_index], np.array(s_train)[test_index]
    y_train, y_test = y_train_b[train_index], y_train_b[test_index]
    
    model = log.fit(x_train, y_train)
    
    f1_scores.append(f1_score(y_true = y_test, 
                              y_pred = model.predict(x_test),
                              pos_label = '2A'))
    
f1_scores

[0.5054945054945055,
 0.625,
 0.48936170212765956,
 0.6307692307692307,
 0.5289256198347106]

#### LEAVE ONE OUT (LOO C.V)

In [162]:
from sklearn.model_selection import LeaveOneOut
loo = LeaveOneOut()

scores = cross_val_score(log, s_train, y_train_b, cv=loo, scoring = "f1_macro")

avg_scores = scores.mean() * 100

avg_scores

50.0

#### CONFUSION MATRIX

In [179]:
from sklearn.metrics import confusion_matrix

n_pred = log.predict(s_test)
cnf_mat = confusion_matrix(y_true= y_test, y_pred=n_pred, labels = ["2A", "3A"])
cnf_mat

C:\Users\IROANYA\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([[51, 22],
       [65, 39]], dtype=int64)

#### ACCURACY

In [184]:
from sklearn.metrics import accuracy_score

acc = round(accuracy_score(y_true= y_test, y_pred = n_pred) * 100, 2)

acc

50.85

#### PRECISION

In [188]:
from sklearn.metrics import precision_score
prec = round(precision_score(y_true= y_test, y_pred= n_pred, pos_label=  "2A") * 100, 2)
prec

43.97

#### RECALL

In [190]:
from sklearn.metrics import recall_score

recall = round(recall_score(y_true= y_test, y_pred=n_pred, pos_label= "2A"))
recall

1

#### F1-SCORE

In [191]:
f1 = round(f1_score(y_true= y_test, y_pred = n_pred, pos_label="2A") * 100, 2)

f1

53.97

## DECISION TREE

In [192]:
from sklearn.tree import DecisionTreeClassifier
dec_tree = DecisionTreeClassifier()
dec_tree.fit(s_train, y_train_b)

DecisionTreeClassifier()

In [193]:
d_pred = dec_tree.predict(s_test)